services:
  app-prebuild:
    image: ghcr.io/stackblitz-labs/bolt.diy:latest
    ports:
      - '5173:5173'
    environment:
      - NODE_ENV=production
      - PORT=5173
      - RUNNING_IN_DOCKER=true
      - DEFAULT_NUM_CTX=${DEFAULT_NUM_CTX:-32768}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - GOOGLE_GENERATIVE_AI_API_KEY=${GOOGLE_GENERATIVE_AI_API_KEY}
      - OPEN_ROUTER_API_KEY=${OPEN_ROUTER_API_KEY}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command: sh -c "npm install -g wrangler && pnpm run dockerstart"
    restart: unless-stopped
